.place__title {
  margin: 0;
  font-size: 72px;
  line-height: 1.06;
  font-style: normal;
  font-weight: 900;
  padding-right: 10px; /*для корректного переноса строки как в макете, т.к. текст влезает при заданной ширине*/
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .place__title {
    font-size: 42px;
    line-height: 1.1;
  }
}

@media (max-width: 768px) {
  .place__title {
    font-size: 32px;
    line-height: 1.09;
    margin: 0 16px;
  }
}
